.env
__pycache__/
*.pyc
*.sqlite3.env
certbot/
backend/media/
backend/staticfiles/
*.sqlite3

#possibly a problem
media/

# SQLite DBs (do not commit)
db.sqlite3
*.sqlite3
backend/db.sqlite3media

# uploads / media  these are giving me headaches
media.
media

db.sqlite3
