
services:
  web:
    build: ./backend
    container_name: magicbar_backend
    volumes:
      - ./backend:/app
      - /var/www/magicbar/media:/app/media
      - ./data/db.sqlite3:/app/db.sqlite3

    ports:
      - "8000:8000"
    env_file:
      - .env
