name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/github-deploy
          chmod 600 ~/.ssh/github-deploy
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

          
      - name: Debug host values (TEMP)
        run: |
          echo "EC2_HOST='${{ secrets.EC2_HOST }}'"
          echo "EC2_USER='${{ secrets.EC2_USER }}'"

      - name: Deploy on EC2
        env:
          HOST: ${{ secrets.EC2_HOST }}
          USER: ${{ secrets.EC2_USER }}
        run: |
          ssh -i ~/.ssh/github-deploy -o IdentitiesOnly=yes -o StrictHostKeyChecking=yes "$USER@$HOST" << 'EOF'
            cd ~/apps/magicbarwebsite
            git pull
            ./deploy.sh
          EOF

